# --- Giao diện (GUI) ---
customtkinter
Pillow
packaging

# --- Xử lý ảnh & Video ---
opencv-python
numpy

# --- AI & Deep Learning (YOLOv8) ---
ultralytics
torch
torchvision

# --- Tiện ích khác (Optional nhưng tốt cho dự án) ---
tqdm
requests
pandas